/* line 5, ../../../.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/screen.scss */
body {
  background-color: #f6f6f6;
}

/* line 11, ../sass/screen.scss */
p {
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 13, ../sass/screen.scss */
input:focus, input:active {
  outline: none;
}

/* line 15, ../sass/screen.scss */
.left {
  float: left;
}

/* line 16, ../sass/screen.scss */
.right {
  float: right;
}

/* line 18, ../sass/screen.scss */
.row:after {
  clear: both;
  display: block;
  content: '';
}

/* line 20, ../sass/screen.scss */
#side-nav {
  width: 20%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #2F3544;
  -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
  background-image: url("../assets/banner.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 22, ../sass/screen.scss */
#side-nav p {
  color: #f6f6f6;
}
/* line 23, ../sass/screen.scss */
#side-nav #side-profile {
  padding: 20px 15px;
  background-color: #9B59B6;
  -moz-box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
/* line 25, ../sass/screen.scss */
#side-nav #side-profile p {
  text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.4);
}
/* line 26, ../sass/screen.scss */
#side-nav #side-profile img {
  -moz-box-shadow: -2px 3px 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -2px 3px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: -2px 3px 10px 0 rgba(0, 0, 0, 0.2);
}
/* line 29, ../sass/screen.scss */
#side-nav .profile-image img {
  width: 45px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 31, ../sass/screen.scss */
#side-nav .profile-content {
  width: 70%;
  padding: 3px 7px 3px 10px;
}
/* line 33, ../sass/screen.scss */
#side-nav .profile-content .profile-name {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 1em;
}
/* line 34, ../sass/screen.scss */
#side-nav .profile-content .profile-designation {
  font-size: 0.8em;
}
/* line 36, ../sass/screen.scss */
#side-nav #side-nav-head {
  padding: 18px 15px;
}
/* line 38, ../sass/screen.scss */
#side-nav #side-nav-head p {
  font-size: 1.5em;
}
/* line 40, ../sass/screen.scss */
#side-nav #side-nav-foot {
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
/* line 42, ../sass/screen.scss */
#side-nav #side-nav-foot i {
  float: left;
  width: 20%;
  line-height: 50px;
  text-align: center;
  font-size: 1.6em;
}
/* line 43, ../sass/screen.scss */
#side-nav #side-nav-foot .fa-medium {
  color: #01e36f;
}
/* line 44, ../sass/screen.scss */
#side-nav #side-nav-foot .fa-facebook-official {
  color: #3b5998;
}
/* line 45, ../sass/screen.scss */
#side-nav #side-nav-foot .fa-twitter {
  color: #28aae1;
}
/* line 46, ../sass/screen.scss */
#side-nav #side-nav-foot .fa-youtube-play {
  color: #fe021c;
}
/* line 47, ../sass/screen.scss */
#side-nav #side-nav-foot .fa-sign-out {
  color: #34495E;
}
/* line 49, ../sass/screen.scss */
#side-nav .side-nav-link {
  padding: 18px 12px;
  border-left: 8px solid transparent;
  -moz-transition: 150ms;
  -o-transition: 150ms;
  -webkit-transition: 150ms;
  transition: 150ms;
  cursor: pointer;
}
/* line 51, ../sass/screen.scss */
#side-nav .side-nav-link p {
  padding-left: 8px;
}
/* line 52, ../sass/screen.scss */
#side-nav .side-nav-link .fa-chevron-right {
  -moz-transition: 250ms;
  -o-transition: 250ms;
  -webkit-transition: 250ms;
  transition: 250ms;
}
/* line 53, ../sass/screen.scss */
#side-nav .side-nav-link i {
  width: 18.28px;
  text-align: center;
}
/* line 54, ../sass/screen.scss */
#side-nav .side-nav-link p, #side-nav .side-nav-link i {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #f6f6f6;
}
/* line 55, ../sass/screen.scss */
#side-nav .side-nav-link#active {
  border-left: 8px solid #2ECC71;
}
/* line 57, ../sass/screen.scss */
#side-nav .side-nav-link#active .fa-chevron-right {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 59, ../sass/screen.scss */
#side-nav .side-nav-link:hover {
  background-color: #2ECC71;
  border-left: 8px solid #27AE60;
}
/* line 61, ../sass/screen.scss */
#side-nav .side-nav-link:hover .fa-chevron-right {
  -moz-transform: translateX(4px);
  -ms-transform: translateX(4px);
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}
/* line 64, ../sass/screen.scss */
#side-nav #side-nav-links {
  height: calc(100vh - 198px);
  overflow-y: auto;
}
/* line 68, ../sass/screen.scss */
#side-nav .sub-menu {
  -moz-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.15);
  height: 0px;
  overflow: hidden;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  -webkit-transition: 500ms;
  transition: 500ms;
}
/* line 70, ../sass/screen.scss */
#side-nav .sub-menu li {
  padding: 18px 20px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  -moz-transition: 50ms;
  -o-transition: 50ms;
  -webkit-transition: 50ms;
  transition: 50ms;
}
/* line 71, ../sass/screen.scss */
#side-nav .sub-menu li i {
  color: #f6f6f6;
}
/* line 72, ../sass/screen.scss */
#side-nav .sub-menu li p, #side-nav .sub-menu li i {
  color: #333;
}
/* line 73, ../sass/screen.scss */
#side-nav .sub-menu li:hover {
  background-color: #9B59B6;
}
/* line 75, ../sass/screen.scss */
#side-nav .sub-menu li:hover p, #side-nav .sub-menu li:hover i {
  color: #f6f6f6;
}
/* line 77, ../sass/screen.scss */
#side-nav .sub-menu li:last-child {
  border-bottom: 0;
}

/* line 81, ../sass/screen.scss */
#main-body {
  width: 80%;
  margin-left: 20%;
}
/* line 83, ../sass/screen.scss */
#main-body #top-nav {
  width: 100%;
  min-height: 56px;
  background-color: white;
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
/* line 86, ../sass/screen.scss */
#main-body #top-nav #nav-main img {
  height: 44px;
  margin: 6px;
}
/* line 87, ../sass/screen.scss */
#main-body #top-nav #nav-main input[type='text'] {
  margin-left: 12px;
  width: 300px;
  -moz-border-radius: 14px 0px 0px 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px 0px 0px 14px;
  float: left;
  border: 1px solid #eee;
  border-right: none;
}
/* line 88, ../sass/screen.scss */
#main-body #top-nav #nav-main i {
  line-height: 38px;
  border: 1px solid #eee;
  border-left: none;
  color: #666;
  -moz-border-radius: 0px 14px 14px 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px 14px 14px 0px;
}
/* line 91, ../sass/screen.scss */
#main-body .profile-log {
  padding: 0 20px;
}
/* line 93, ../sass/screen.scss */
#main-body .profile-log img {
  width: 36px;
  margin: 9px 0;
  margin-right: 8px;
  border: 1px solid #888;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 94, ../sass/screen.scss */
#main-body .profile-log p {
  margin-right: 4px;
  line-height: 56px;
}
/* line 95, ../sass/screen.scss */
#main-body .profile-log i {
  font-size: 1.6em;
  line-height: 40px;
  background-color: #fff;
  padding: 0 4px;
}
/* line 96, ../sass/screen.scss */
#main-body .profile-log p, #main-body .profile-log i, #main-body .profile-log img {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 98, ../sass/screen.scss */
#main-body input[type='text'], #main-body i {
  background-color: #f6f6f6;
  height: 38px;
  margin: 9px 0px;
  padding: 0 12px;
}

/* line 100, ../sass/screen.scss */
#content {
  width: 100%;
  height: calc(100vh - 59px);
  overflow: auto;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 102, ../sass/screen.scss */
#content .page-banner {
  background-image: url("../assets/banner.jpg");
  background-color: #fff;
  font-size: 1.6em;
  line-height: 3em;
  color: #f6f6f6;
  padding: 0 18px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 104, ../sass/screen.scss */
.spinner {
  width: 24px;
  height: 24px;
  position: relative;
  margin: 0px auto;
}

/* line 105, ../sass/screen.scss */
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #f6f6f6;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

/* line 106, ../sass/screen.scss */
.double-bounce2 {
  -moz-animation-delay: -1s;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  50% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes sk-bounce {
  0%, 100% {
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  50% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
